html {
    width: 100%;
    height: 100%;
    min-width: 1000px;
    min-height: 1000px;
}

body {
    background-color: black;
}


/* Navigation Bar Styles*/
.NavigationBar {
    /*position:sticky;
    top:0;
    z-index: 100;*/
    display: flex;
    background-color: black;
    margin-left: 5em;
    margin-right: 5em;
    font-family: "Comic Sans MS", 'Times New Roman', Times New Roman;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
}

/*NAVIGATION BAR TRANSITIONS*/
#Packet {
    display: inline;
    position: relative;
    z-index: 0;
}

#LinkPic {
    -webkit-transition: opacity 1s;
    display: inline;
    position: absolute;
    opacity: 0;
    z-index: 0;
    right: 12.5%;
    bottom: 0;
    padding: 0px;
}

#NavLink:hover ~ #LinkPic {
    opacity: 1;
}

#NavLink {
    -webkit-transition: opacity 1s;
    position: relative;
    color: rgb(255 255 255 / .75);
    margin-left: .5em;
    margin-right: .5em;
    font-family: "Comic Sans MS", cursive, Times New Roman;
    z-index: 2;
}

#Packet #NavLink:hover {
    opacity: 0;
}


/*EXPERIENCE LINE*/
/* EXPERIENCE LINE*/
.Line {
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 1rem;
}

.LineLeft {
    display: inline-block;
    margin-bottom: 0.5em;
    margin-right: .5em;
    width:90%;
    margin-left:.5em;
    border-style: inset;
    border-width: .1px;
    color: #e7e7e7;
    opacity:.25;
}

h2 {
    font-weight: lighter;
    font-size: 1rem;
}

h3 {
    display: inline-block;
    color: #e7e7e7;
    font-family: "Comic Sans MS", cursive, Times New Roman;
    font-weight: 100;
    font-size: 1.3rem;
    color: rgb(255,255,255, .75);
}
Header {
    margin-top:1em;
    text-align:center;
    color: #e7e7e7;
    font-family: "Comic Sans MS", cursive, Times New Roman;
    font-weight: 100;
    font-size: 1.8rem;
    color: rgb(255,255,255, .75);
}



.Box {
    display:block;
    color: white;
    margin-right: 12%;
    margin-left: 12%;
    margin-bottom: 3em;
    font-family: "Comic Sans MS", cursive, Times New Roman;
    font-weight:100;
    opacity:.7;
}
#EstablishmentName{
    display:block;
}
#PositionInfo{
    margin-left: 5em;
    display:block;
}
Establishment{
    font-size:1.1rem;
}
TimeFrame{
    font-size:.8rem;
    opacity:.8;
}
PositionTitle{

}
PositionDescription{
    font-size:.92rem;
    opacity:.8;
}


/*BOTTOM NAVIGATION BAR*/
/*BOTTOM NAVIGATION BAR*/
.BottomNavBar {
    margin-top: 3em;
    text-align: center;
}

    .BottomNavBar #NavLink:hover {
        color: white;
        -webkit-transition: color 1s;
    }


/*COPYRIGHT FOOTNOTE*/
/*COPYRIGHT FOOTNOTE*/
.CopyrightBox {
    margin-top: .5em;
    text-align: center;
}

h10 {
    font-size: .7rem;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, Times New Roman;
    color: grey;
}

/* CONTACT INFO FOOTNOTE */
.ContactInfoFootnote {
    text-align: center;
    vertical-align: text-bottom;
}

#Linken:hover {
    opacity: 1 !important;
}

#GitHub:hover {
    opacity: 1 !important;
}

#Gmail:hover {
    opacity: 1 !important;
}

.ContactInfoFootnote:hover #Linken {
    opacity: .5;
}

.ContactInfoFootnote:hover #Gmail {
    opacity: .5;
}

.ContactInfoFootnote:hover #GitHub {
    opacity: .5;
}


/*PORTFOLIO*/
/*PORTFOLIO*/
/*PORTFOLIO*/
/*PORTFOLIO*/

/*Photography*/
#Pictures img{
    width:200px;
    height:200px;
    object-fit:cover;
}
#Pictures {
    margin-left:8em;
    margin-right:8em;
    text-align:center;
}
#Pictures img:hover{
    
}

/*Services*/
.Services img{
    width: 30%;
    opacity:.9;
}
.Services{
    margin-top:2em;
    margin-bottom:10em;
    text-align:center;
}
.Services img:hover{
    width:30.1%;
    opacity:1;
}
