html {
    width: 100%;
    height: 100%;
    min-width: 1000px;
    min-height: 1000px;
}

body {
    background-color: black;
}


/* Navigation Bar Styles*/
.NavigationBar {
    /*position:sticky;
    top:0;
    z-index: 100;*/
    display: flex;
    background-color: black;
    margin-left: 5em;
    margin-right: 5em;
    font-family: 'Baloo 2', 'Times New Roman', Times New Roman;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
}

/*NAVIGATION BAR TRANSITIONS*/
#Packet {
    display: inline;
    position: relative;
    z-index: 0;
}

#LinkPic {
    -webkit-transition: opacity 1s;
    transition:opacity 1s;
    display: inline;
    position: absolute;
    opacity: 0;
    z-index: 0;
    right: 12.5%;
    bottom: 0;
    padding: 0px;
}

#NavLink:hover ~ #LinkPic {
    opacity: 1;
}

#NavLink {
    -webkit-transition: opacity 1s;
    position: relative;
    color: rgba(255, 255, 255, .75);
    margin-left: .5em;
    margin-right: .5em;
    font-family: 'Baloo 2', sans-serif, Times New Roman;
    z-index: 2;
}

#Packet #NavLink:hover {
    opacity: 0;
}

/*EXPERIENCE LINE*/
/* EXPERIENCE LINE*/
.Line {
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 1rem;
}

.LineLeft {
    display: inline-block;
    margin-bottom: 0.5em;
    margin-right: .5em;
    width:90%;
    margin-left:.5em;
    border-style: inset;
    border-width: .1px;
    color: #e7e7e7;
    opacity:.25;
}


h2 {
    font-weight: lighter;
    font-size: 1.1rem;
}

h3 {
    display: inline-block;
    color: #e7e7e7;
    font-family: 'Baloo 2', sans-serif, Times New Roman;
    font-weight: 100;
    font-size: 1.4rem;
    color: rgba(255,255,255, .75);
}
Header {
    margin-top:1em;
    text-align:center;
    color: #e7e7e7;
    font-family: 'Baloo 2', sans-serif, Times New Roman;
    font-weight: 100;
    font-size: 1.9rem;
    color: rgba(255,255,255, .75);
}



.Box {
    display:block;
    color: white;
    margin-right: 12%;
    margin-left: 12%;
    margin-bottom: 3em;
    font-family: 'Baloo 2', sans-serif, Times New Roman;
    font-weight:100;
    opacity:.7;
}
#EstablishmentName{
    display:block;
}
#PositionInfo{
    margin-left: 5em;
    display:block;
}
Establishment{
    font-size:1.2rem;
}
TimeFrame{
    font-size:.9rem;
    opacity:.8;
}
PositionTitle{

}
PositionDescription{
    font-size:1.02rem;
    opacity:.8;
}


/*BOTTOM NAVIGATION BAR*/
/*BOTTOM NAVIGATION BAR*/
a{
    text-decoration:none;
}
.BottomNavBar {
    margin-top: 3em;
    text-align: center;
}

    .BottomNavBar #NavLink:hover {
        color: white;
        -webkit-transition: color 1s;
    }


/*COPYRIGHT FOOTNOTE*/
/*COPYRIGHT FOOTNOTE*/
.CopyrightBox {
    margin-top: .5em;
    text-align: center;
}

h10 {
    font-size: .7rem;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, Times New Roman;
    color: grey;
}

/* CONTACT INFO FOOTNOTE */
.ContactInfoFootnote {
    text-align: center;
    vertical-align: text-bottom;
}

#Linken:hover {
    opacity: 1 !important;
}

#GitHub:hover {
    opacity: 1 !important;
}

#Gmail:hover {
    opacity: 1 !important;
}

.ContactInfoFootnote:hover #Linken {
    opacity: .5;
}

.ContactInfoFootnote:hover #Gmail {
    opacity: .5;
}

.ContactInfoFootnote:hover #GitHub {
    opacity: .5;
}


/*PORTFOLIO*/
/*PORTFOLIO*/
/*PORTFOLIO*/
/*PORTFOLIO*/

/*Photography*/
/*Photography*/
.Pictures img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 13px 10px 20px 0px rgba(255,255,255, .09);
    border-radius: 25px;
    border: .5px solid rgba(255,255,255,.15);
}
.Pictures {
    margin-left:8em;
    margin-right:8em;
    text-align:center;
}
.MoreBox img:hover ~ .More{
     transition: 1s;
     opacity:.9;
 }
.MoreBox:hover > img {
    transition: 1s;
    opacity: .5;
    box-shadow: 13px 10px 20px 0px rgba(255,255,255, 0);
    border: .5px solid rgba(255,255,255,.4);
}
 .MoreBox{
     display:inline-block;
     position:relative;
 }
.More {
    border: 1px solid rgba(255,255,255,.2);
    padding:1px;
    border-radius: 5px;
    left: 25%;
    right: 25%;
    text-align: center;
    bottom: 25%;
    position: absolute;
    font-family: 'Baloo 2', sans-serif, Times New Roman;
    font-weight: 400;
    color: rgba(255,255,255, .75);
}
.More:hover{
    background-color:rgba(255,255,255, .75);
    color:black;
    cursor:pointer;
}
.More:not(:hover){
    opacity:0;
}


/*PopUpBox*/
/*PopUp Box*/
.PopUp {
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.6);
}
.PopUpContent {
    background-color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid rgba(255,255,255, .2);
    width: 80%;
    font-family: 'Baloo 2', sans-serif, Times New Roman;
    font-weight: 400;
    color: rgba(255,255,255, .75);
}
.close {
    color: rgba(255,255,255, .4);
    float: right;
    font-family: 'Baloo 2', sans-serif, Times New Roman;
    font-size: 28px;
    font-weight: 400;
}
.close:hover,
 .close:focus {
    color: rgba(255,255,255,.7);
    text-decoration: none;
    cursor: pointer;
}


/*Services*/
/*Services*/
.Services img {
    width: 30%;
    opacity: .9;
    box-shadow: 26px 25px 100px -20px rgba(255,255,255, .05);
    border-radius: 25px;
    border: .5px ridge black;
}
.Services{
    margin-top:2em;
    margin-bottom:10em;
    text-align:center;
}
    .Services img:hover {
        transition: 1s;
        width: 30.01%;
        opacity: 1;
        box-shadow: 26px 25px 100px -20px rgba(255,255,255, .1);
    }



/*Skills*/
/*Skills*/
TSkillsHeader {
    display:block;
    font-family: 'Baloo 2', sans-serif, Times New Roman;
    text-align:right;
    margin-right:16%;
    font-weight: 400;
    font-size: 1.3rem;
    color: rgba(255,255,255, .55);
    margin-top:4em;
}
.Skills{
    margin-top:1rem;
    display:flex;
    justify-content:center;
}
.Levels{
    color:white;
    display:block;
}
.Level {
    margin-top: 10px;
    margin-bottom: 100px;
    color: #e7e7e7;
    font-family: 'Baloo 2', sans-serif, Times New Roman;
    font-weight: 500;
    font-size: 1rem;
    color: rgba(255,255,255, .55);
    margin-right:1rem;
    text-align:center;
}
.SkilsBoxes{
    align-items:center;
}
.SkillsBox {
    width: 800px;
    border: .1px solid rgba(255,255,255,.15);
    padding: 60px;
    margin-bottom:0px;
}
.LineFull {
    margin-bottom: 0.5em;
    width: 100%;
    border-style: inset;
    border-width: .1px;
    color: #e7e7e7;
    opacity: .25;
}

.Bar {
    position: absolute;
    width: 150px;
    bottom: 1px;
    box-shadow: 13px 7px 10px 0px rgba(255,255,255, .13);
    border-radius: 4px;
}
Skill {
    position:absolute;
    display:block;
    color:black;
    font-family: 'Baloo 2', sans-serif, Times New Roman;
    font-weight: 600;
    font-size: .85rem;
    left:0;
    right:0;
    text-align:center;
    bottom:2px;
    opacity:.75;
}


.AdditionalSkills {
    margin-top: 10em;
}
.SkillsLogos {
    margin-top:2em;
    text-align:center;
}
.SkillsLogos img{
    width:95px;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 8px;
    box-shadow: 10px 10px 20px 0px rgba(255,255,255, .09);
}
.SkillsLogos img:hover{
    opacity:.5;
}

SkillsHeader {
    font-family: 'Baloo 2', sans-serif, Times New Roman;
    text-align: left;
    margin-left:12.5%;
    font-weight: 400;
    font-size: 1.3rem;
    color: rgba(255,255,255, .55);
}


/*CONTACT*/
/*CONTACT*/
.ContactBox {
    font-family: 'Baloo 2', sans-serif, Times New Roman;
    text-align: left;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255,255,255, .4);
    margin-left:25%;
    margin-top:2em;
    margin-bottom:100px;
}
.CustomerBox{
    margin-right:35%;
    margin-bottom:20px;
}
input {
    border: 1px solid rgba(255,255,255,.35);
    border-radius: 2px;
    font-family: 'Baloo 2', sans-serif, Times New Roman;
    color: rgba(255,255,255, .9);
    background-color: black;
    resize:vertical;
    width:100%;
}
textarea {
    border: 1px solid rgba(255,255,255,.35);
    border-radius: 2px;
    font-family: 'Baloo 2', sans-serif, Times New Roman;
    color: rgba(255,255,255, .9);
    background-color: black;
    resize: vertical;
    width:100%;
}
input[type=submit] {
    background-color: #4CAF50;
    color: rgba(255,255,255,.7);
    font-family: 'Baloo 2', sans-serif, Times New Roman;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    width: 6%;
    margin-left:1%;
}
input[type=submit]:hover {
  background-color: #45a049;
}